.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-left: 50px;
  }
@media screen and (max-width: 767px) {
  .loader-container {
    margin-left: -0px;
  }
  
}